* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2fr 4fr 0.5fr;
    grid-gap: 5px;
    grid-template-areas: "prvi drugi drugi "
                         "treci cetvrti peti"
                         "sesti sesti sesti ";

}

.grid-container>div {
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #fff;
}

.grid-item1 {
    grid-area: prvi;
}

.grid-item2 {
    grid-area: drugi;
}

.grid-item3 {
    grid-area: treci;
}

.grid-item4 {
    grid-area: cetvrti;
}

.grid-item5 {
    grid-area: peti;
}

.grid-item6 {
    grid-area: sesti;
}