//colors
$green: #01b3a7;
$white: #fff;
$black: #151515;
$gray: #9b9b9b;
$grayBg: #f7f7f7;
$primary: #162e44;
$copyrightBg: #11263a;



//width
$mobile: 480px;
$tablet: 979px;
$desktop: 1920px;